*{
    margin: 0px;
    padding: 0px;
}
::-webkit-scrollbar{
    width: 15px;
    background-color: rgb(24, 26, 29);
}
::-webkit-scrollbar-thumb{
    width: 10px;
    background-color: white;
    border-radius: 15px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .5);
}

.dropdown-menu a:hover{
    text-decoration: underline;
}
.myclassforhover:hover{
    text-decoration: underline !important;
}
.myclassbtn{
    border: 1px solid white !important;
    color: white !important;
}
.myclassbtn:hover{
    background-color: white !important;
    color: black !important;
}

/*********************************************************************Body************************************************************************/
.mycontainer{
    width: 100%;
}
.prpage{
    display: flex;
}
.prpage div{
    flex: 1;
    position: relative;
}
.image{
    text-align: center;
    position: relative;
}
.image img{
    width: 80%;
    display: inline-block;
    min-width: 400px;
    margin: 115px 0px;
}
.text{
    padding: 40px 30px;    
}
.prdes{
    padding: 50px 7vw;
    text-align: center;
}
.prdes p{
    margin: 0px;
    padding: 0px;
}
.btn{
    width: 140px;
    margin-right: 20px;
}
.prdesflexdiv{
    display: flex;
}
.prdesflexdiv h5{
    margin-bottom: 20px;
    font-weight: 700;
}
.prdesflexdiv p{
    margin-bottom: 50px;
    font-size: 20px;
}
.prdes a img{
    width: 300px;
    transition: 0.4s;
    border-radius: 20px;
}
.prdes a img:hover{
    filter: brightness(60%);
}

/*************************MediaQuery*****************************/
@media (max-width: 820px){
    .prpage{
        flex-direction: column;
        text-align: center;
    }
    .image img{
        margin: 20px 0px;
    }
    .text{
        display: inline-block;
    }
    .prdesflexdiv{
        flex-direction: column;
    }
    .btn{
        width: 50%;
        margin: 0px 0px 20px 0px;
    }
}

/********************************************************************Footer************************************************************************/
.footercontent a{
    text-decoration: none;
}
.footercontent a:hover{
    text-decoration: none;
}
.footercontent{
    width: 100%;
    display: flex;
    background-color: rgb(24, 26, 29);
}
.footer1, .footer2, .footer3{
    flex: 1;
    border: 2px solid black;
}
/*************************Footer1*****************************/
.footer1{
    width: 33.33%;
    text-align: center;
}
.footer1 div{
    display: inline-block;
}
.footer1 a{
    margin: 20px 20px;
    color: black;
    transition: 0.4s;
}
.footer1 #facebook:hover{
    color: #3b5998;
}
.footer1 #twitter:hover{
    color: #00acee;
}
.footer1 #instagram:hover{
    color: #cd486b;
}
.footer1 #youtube:hover{
    color: #FF0000;
}

/*************************Footer2*****************************/
.footer2{
    width: 33.33%;
    text-align: center;
}
.about{
    text-decoration: none;
    text-align: center;
    display: block;
    height: 73px;
    padding-top: 20px;
    font-size: 20px;
    color: white;
    font-weight: 200;
    transition: 0.2s;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.about:hover{
    background-color: rgb(53, 57, 63);
    text-decoration: none;
    color: black;
    font-weight: 600;
    display: block;
    width: 100%;
}

/*************************Footer3*****************************/
.footer3{
    width: 33.34%;
    color: white;
}
.footer3 h1, p{
    margin: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.footer3 p{
    font-size: 20px;
}
#emailbar{
    width: 80%;
    margin: 0px 0px 20px 20px;
    height: 30px;
    padding-left: 10px;
}
#submitbtn{
    width: 100px;
    margin: 10px 0px 0px 20px;
    padding-bottom: 3px;
    height: 30px;
    background: none;
    border: 2px solid white !important;
    border-radius: 8px !important;
    color: white;
    transition: 0.4s;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
}
#submitbtn:hover{
    background-color: chartreuse;
    color: black;
    font-weight: 500;
}
/*************************Footerbottom*****************************/
.footerbottom{
    background-color: black;
    color: white;
    text-align: center;
    height: 50px;
    padding-top: 10px;
}

/*************************Media Querry for Footer*****************************/
@media (max-width: 1140px){
    .footercontent{
        flex-direction: column;
    }
    .footer1{
        display: flex;
        width: 100%;
    }
    .footer1 div{
        width: 100%;
    }
    .footer1 a{
        margin: 0px 27px;
    }
    .socials{
        padding-top: 55px;
    }
    .footer2{
        width: 100%;
    }
    .footer3{
        width: 100%;
    }
}


@media (max-width: 820px){
    .footer1{
        display: flex;
        width: 100%;
        flex-direction: column;
    }   
    .footer1 a{
        margin: 0px 20px;
    }
    .socials{
        padding-top: 0px;
    }
    .footer2{
        width: 100%;
    }
    .footer3{
        width: 100%;
    }
}
